snippet head "file header"
/*
==================================================
    Filename:   `!v expand('%:t')`

 Description:   ${1}

     Version:   1.0
     Created:   `!v strftime("%Y-%m-%d")`
    Revision:   none
    Compiler:   gcc

      Author:   David Amirault
==================================================
*/

${2}
endsnippet
